.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(94, 92, 92, 0.719);
    border-radius: 50%;
 
}

@keyframes moveBall {
    0%{ transform: translate(0px, 900px) scale(1, 1); background-color: rgba(83, 83, 83, 0.726); }
    12.5%{ transform: translate(800px, -20px);  background-color: rgb(83, 83, 83, 0.726); }
    12.6%, 13%{  transform: translate(800px, 0px) scale(1.3, 0.7); background-color: rgb(4, 0, 255);}
    25%{ transform: translate(900px, 450px) scale(1.1, 1.1); background-color: blue; }
    37.5%{ transform: translate(1000px, 900px); background-color: blue; }
    37.6%, 38%{ transform: translate(1000px, 900px) scale(1.3, 0.7); background-color: rgb(255, 0, 0);}
    42% {transform:  translate(1300px, 450px) scale(1, 1);}
    50%{ transform: translate(1600px, -20px); background-color: rgb(241, 4, 4);}
    50.1%, 51%{ transform: translate(1600px, -20px) scale(1.3, 0.7); background-color: rgb(160, 7, 191); }
    62.5%{ transform: translate(1700px, 100px) scale(1, 1);  background-color: rgb(83, 83, 83, 0.726); }
    75%{ transform: translate(1820px, 200px) scale(1, 1);  background-color: rgb(83, 83, 83, 0.726); }
    75.1%, 76%{ transform: translate(1820px, 200px) scale(0.7, 1.3); background-color: rgb(0, 238, 32); }
    100% { transform: translate(1700px, 900px) scale(1, 1); background-color: rgba(99, 98, 99, 0.852); }
}

.ball {
    animation: moveBall 20s linear infinite;
}